* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.page-min-height {
  min-height: 80vh;
}
.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-around {
  justify-content: space-around;
}
.justify-content-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}
.align-items-start {
  align-items: flex-start;
}
.align-items-end {
  align-items: flex-end;
}

.flex-column {
  flex-direction: column;
}
button {
  background-color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin: 10px;
}
button:hover {
  background-color: lightgray;
}
button:focus {
  outline: none;
}
.text-center {
  text-align: center;
}
.p-10 {
  padding: 10px;
}
.pl-10 {
  padding-left: 10px;
}
.pr-10 {
  padding-right: 10px;
}
.pb-10 {
  padding-bottom: 10px;
}
/* .goog-logo-link {
  display: none;
} */
.goog-te-banner {
  display: none !important;
}
